<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="sizecharts" id="sizecharts">
			<module before="Magento_Backend" name="UIS_Sizecharts"/>
		</route>
		<route frontName="uis_sizecharts" id="uis_sizecharts">
			<module before="Magento_Backend" name="UIS_Sizecharts"/>
		</route>
	</router>
</config>
